#slider{
    height: 100vh;
    position: relative;
    #btnLeft,#btnRight{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    #btnLeft{
        left:25px
    }
    #btnRight{
        right: 25px;
    }
    .slide{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition:opacity .3s;
        &.active{
            opacity: 1;
            transition: .3s;
            visibility: visible;
        }

        &:nth-child(1){
            background:url(../photo/imase.png);
        background-repeat: no-repeat;
        background-size: contain;
        }
        &:nth-child(2){
            background:url(../photo/26-26.png);
            background-repeat: no-repeat;
            background-size: contain;
        } &:nth-child(3){
            background:url(../photo/329-32t.png);
            background-repeat: no-repeat;
            background-size: contain;
        } &:nth-child(4){
            background:url(../photo/travel-background-png-2.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}